header {
  background: #1e65ff;
  padding: 10px;
}

header h1 {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  /* border: 2px solid red; */
  padding-bottom: 20px;
  border-bottom: 1px;
}

.content {
  border: 1px solid black;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}
